@import url(../../index.css);

.home-screen {
  width: 100%;
  display: flex;
  padding-left: 45px;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 65px);
  background: url(../../helpers/img/the-mandalorian2.jpg) no-repeat center;
  opacity: 0.6;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
}

.Filmagnet {
  font-size: var(--fs-4);
  color: var(--citrine);
}

.Unlimited {
  font-size: var(--fs-13);
  color: var(--white);
}

.Movies {
  font-size: var(--fs-13);
  color: var(--white);
}

.Entertainment {
  color: var(--citrine);
}

.play-now {
  width: 140px;
  margin-top: 45px;
  padding: 10px 20px;
  color: var(--white);
  background: none;
  border-radius: 20px;
  border: 2px solid var(--citrine);
}

.play-now:hover {
  background-color: var(--citrine);
  color: var(--rich-black-fogra-29);
}

.movie-info-row {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--white);
}

.movie-lbl {
  font-size: var(--fs-9);
  padding: 4px 6px;
  background-color: var(--white);
  color: var(--rich-black-fogra-29);
  border: 1px solid var(--rich-black-fogra-29);
}

.hd-lbl {
  font-size: var(--fs-11);
  padding: 4px 6px;
  border: 1px solid var(--white);
  color: var(--white);
}

.category-movie {
  font-size: var(--fs-16);
}

.date-realese {
  display: flex;
  gap: 4px;
  align-items: center;
}

.date-realese > span {
  display: inline-block;
  margin-top: 2px;
  font-size: var(--fs-16);
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .Unlimited,
  .Movies {
    font-size: var(--fs-1);
  }
  .home-screen {
    padding-left: 20px;
  }
}
