@import url(../../index.css);
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 20px;
  grid-row-gap: 40px;
  padding-inline: 0 20px;
  list-style-type: none;
}

.movies-container {
  width: 100%;
  padding: 0 10px 0 20px;
  display: flex;
  flex-direction: column;
}

.category-select,
.sort-select {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.movie-link {
  text-decoration: none;
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .movies-list {
    justify-content: space-evenly;
  }

  .filters {
    gap: 8px;
  }

  .upcoming-movies {
    font-size: var(--fs-4);
  }

  .category-select,
  .sort-select {
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }

  .category-select > span,
  .sort-select > span {
    font-size: var(--fs-12);
  }

  .category-select select,
  .sort-select select {
    font-size: var(--fs-12);
    padding-left: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .filter-block {
    flex-direction: column;
    gap: 10px;
  }

  .block-title {
    align-items: center;
  }

  .upcoming-movies {
    font-size: var(--fs-4);
  }
  .category-select,
  .sort-select {
    display: flex;
    align-items: center;
    padding: 2px 10px;
  }

  .category-select > span,
  .sort-select > span {
    font-size: var(--fs-12);
  }

  .category-select select,
  .sort-select select {
    font-size: var(--fs-12);
    padding-left: 0px;
  }

  .movies-list {
    justify-content: center;
    align-items: center;
  }
}
