@import url(../../index.css);

.filter-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-title {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.online-streaming {
  font-size: var(--fs-7);
  color: var(--citrine);
}

.upcoming-movies {
  font-size: var(--fs-1);
  color: var(--white);
}

.category-select > span,
.sort-select > span {
  font-size: var(--fs-7);
  color: var(--white);
}

.category-select select,
.sort-select select {
  padding-left: 10px;
  background-color: transparent;
  font-size: var(--fs-7);
  color: var(--citrine);
}

.category-select,
.sort-select {
  padding: 5px 10px;
  background-color: var(--gunmetal-1);
  border-radius: 20px;
}

option {
  background-color: transparent;
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
  .category-select select,
  .sort-select select {
    font-size: var(--fs-11);
}

  .category-select > span,
  .sort-select > span {
    font-size: var(--fs-11);
}
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .category-select select,
  .sort-select select {
    font-size: var(--fs-11);
}

  .category-select > span,
  .sort-select > span {
  font-size: var(--fs-11);
}
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .category-select select,
  .sort-select select {
    font-size: var(--fs-14);
}

  .category-select > span,
  .sort-select > span {
  font-size: var(--fs-14);
}
}