.left-navigation {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.left-navigation button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.home-btn {
    background-image: url(../../helpers/img/home.svg);
}

.favorites-btn {
    background-image: url(../../helpers/img/favourite-none.svg);
}

.favorites-add-btn {
    background-image: url(../../helpers/img/favourite-add.svg);
}