@import url(../../index.css);
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 20px;
  grid-row-gap: 40px;
  padding-inline: 0 20px;
  list-style-type: none;
}

.favorites-container {
  width: 100%;
  padding: 0 10px 0 20px;
  display: flex;
  flex-direction: column;
}

.arrow-left > span {
  color: var(--citrine);
}

.favorites-movies {
  display: block;
  width: 100%;
  text-align: center;
  font-size: var(--fs-1);
  color: var(--white);
}

@media screen and (min-width: 650px) and (max-width: 850px) {
  .movies-list {
    justify-content: space-evenly;
  }

  .upcoming-movies {
    font-size: var(--fs-4);
  }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .movies-list {
    justify-content: center;
    align-items: center;
  }
}
