@import url(../../index.css);
.main-header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--fs-3);
  text-decoration: none;
}

.logo:visited {
  color: var(--white);
}

.langusges-select {
  display: flex;
  gap: 5px;
}

.sign-lang-section {
  display: flex;
  gap: 20px;
}

select {
  background: none;
  color: var(--citrine);
  border: none;
  outline: none;
}

.sign-btn {
  padding: 8px 20px;
  color: var(--white);
  background: none;
  border-radius: 20px;
  border: 2px solid var(--citrine);
}

.sign-btn:hover {
  background-color: var(--citrine);
  color: var(--rich-black-fogra-29);
}

form {
  width: 50%;
}

form .search {
  width: 100%;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

@media screen and (max-width: 850px) {
  .logo > span {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .sign-btn {
    padding: 2px 8px;
    font-size: var(--fs-11);
  }

  .langusges-select select {
    font-size: var(--fs-11);
    gap: 2px;
  }

  form .search {
    padding: 2px 8px;
    font-size: var(--fs-11);
  }
}
