@import url(../../index.css);
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 20px;
  grid-row-gap: 40px;
  padding-inline: 0 20px;
  list-style-type: none;
}

.movies-container {
  width: 100%;
  padding: 0 10px 0 20px;

  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}



.movie-link {
  text-decoration: none;
}

